@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(27, 66%, 92%);
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.main {
    margin: 110px auto;
    max-width: 433px;
}

.balance_area {
    display: flex;
    padding: 22px 25px 19px 25px;
    background-color: hsl(10, 79%, 65%);
    justify-content: space-between;
    border-radius: 18px;
}

.balance_title {
    color: #FFF;
    letter-spacing: 1px;
    font-size: 13px;;
}

.balance_amount {
    margin-top: 9px;
    color: #FFF;
    letter-spacing: .8px;
    font-size: 25px;
    font-weight: 500;
}

.balance_rings {
    display: flex;
    position: relative;
    padding-top: 6px;
}

.ring1 {
    position: relative;
    top: 3px;
    right: -13px;
    z-index: 1;
    width: 38px;
    height: 38px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.ring2 {
    position: relative;
    top: 3px;
    right: 7px;
    width: 38px;
    height: 38px;
    background-color: hsl(25, 47%, 15%);
    border-radius: 50%;
}


.attribution {
    width: 55ex;
    margin: 70px auto;
    text-align: center;
}

.chart_area {
    margin-top: 19.5px;
    padding: 27px 33px;
    background-color: hsl(33, 100%, 98%);
    border-radius: 18px;
}

.chart_title {
    letter-spacing: 1.35px;
    font-size: 23px;
}

.chart_container {
    display: flex;
    height: 224px;
    padding-bottom: 24px;
    border-bottom: 2px solid hsl(27, 66%, 92%);
    align-items: flex-end;
}

.chart {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
}

.chart li {
    width: calc((100% - 80px)/7);
    text-align: center;
}

.chart li span {
    color: rgb(128, 114, 114);
}

.bar {
    position: relative;
    height: 0;
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
    transition: 1s ease-out height;
}

.bar:hover {
    background-color: hsl(10, 63%, 71%);
}

[data-amount]:hover::before {
    display: inline-block;
    position: relative;
    top: -35px;
    left: -4px;
    width: 50px;
    height: 25px;
    padding-top: 5px;
    background-color: rgb(82, 70, 70);
    color: #FFFFFF;
    letter-spacing: .6px;
    content: attr(data-amount);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.topDay {
    background-color: hsl(241, 69%, 53%);
}

.topDay:hover {
    background-color: hsl(165, 53%, 29%);
}

.chart li span {
    font-size: 12px;
}

.chart_info {
    display: flex;
    padding: 26px 0 8px;
    justify-content: space-between;
}

.thisMonth_txt {
    color: hsl(28, 10%, 53%);
    letter-spacing: .25px;
    font-size: 14px;;
}

.thisMonth_num {
    font-size: 38px;
    font-weight: bold;
}

.lastMonth {
    padding-top: 24px;
    text-align: right;
}

.lastMonth_rate {
    font-weight: bold;
    font-size: 15px;
}

.lastMonth_txt {
    color: hsl(28, 10%, 53%);
    font-size: 14.5px;
}



@media screen and (max-width: 767px){
    .wrap {
        padding: 10px;
    }

    .main {
        width: 100%;
    }
}